
221801408/src/WordCount/.vs/WordCount/v15/.suo
221801408/src/WordCount/.vs/WordCount/v15/Browse.VC.db
221801408/src/WordCount/.vs/WordCount/v15/Browse.VC.opendb
221801408/src/WordCount/.vs/WordCount/v15/ipch/AutoPCH/50f2eb75d290edcb/WORDCOUNT.ipch
221801408/src/WordCount/.vs/WordCount/v16/.suo
221801408/src/WordCount/.vs/WordCount/v16/Browse.VC.db
221801408/src/WordCount/.vs/WordCount/v16/ipch/AutoPCH/330fc22e80489ecb/LIB.ipch
221801408/src/WordCount/.vs/WordCount/v16/Browse.VC.db
221801408/src/WordCount/.vs/WordCount/v16/ipch/AutoPCH/32aeb27131c83593/LAB.ipch
221801408/src/WordCount/.vs/WordCount/v16/ipch/AutoPCH/8582f4fbc1004778/WORDCOUNT.ipch
221801408/src/WordCount/.vs/WordCount/v16/ipch/AutoPCH/13059f51566f4832/WORDCOUNT.ipch
221801408/src/WordCount/WordCount/WordCount.vcxproj.user
221801408/src/WordCount/.vs/WordCount/v16/ipch/AutoPCH/39728ac40b228f96/LIB.ipch
221801408/src/WordCount/Debug/WordCount.ilk
221801408/src/WordCount/WordCount.sln
221801408/src/WordCount/Debug/WordCount.pdb
221801408/src/WordCount/WordCount/Debug/lib.obj.enc
221801408/src/WordCount/Debug/WordCount.exe
221801408/src/WordCount/WordCount/Debug/lib.obj
221801408/src/WordCount/WordCount/Debug/vc142.pdb
221801408/src/WordCount/WordCount/Debug/WordCount.log
221801408/src/WordCount/WordCount/Debug/WordCount.obj
221801408/src/WordCount/WordCount/Debug/vc142.idb
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/CL.read.1.tlog
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/CL.command.1.tlog
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/CL.write.1.tlog
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/CL.command.1.tlog
221801408/src/WordCount/WordCount/Debug/WordCount.exe.recipe
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/link.command.1.tlog
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/link.write.1.tlog
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/link.command.1.tlog
221801408/src/WordCount/WordCount/input.txt
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/link.read.1.tlog
221801408/src/WordCount/WordCount/Debug/WordCount.tlog/WordCount.lastbuildstate
221801408/src/WordCount/WordCount/WordCount.vcxproj
221801408/src/WordCount/WordCount/WordCount.vcxproj.filters
221801408/src/WordCount/WordCount/x64/Debug/WordCount.log
